<h1><%= @list.name %></h1>

<div class="container">
  <div class="row">
      <div class="col-md-6">
        <div class="d-flex flex-column">
          <% @list.movies.each do |movie|%>
          <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
            <h1><%= movie.title %></h1>
            <p><%= movie.overview %></p>
            <p>Rating: <%= movie.rating %>/10</p>
            <img src="<%= movie.poster_url %>" alt="Movie Poster" class="img-fluid" style="height: 400px; width: 300px;">
            <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this bookmark?"}, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
  </div>
</div>
  <%= link_to "delete this list", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this list?"}, class: 'btn btn-danger' %>

<%= link_to "Back to lists", lists_path %>
<button><%= link_to "Add new bookmark", new_list_bookmark_path(@list) %></button>
